@page "/"
@inject AppConfiguration Configuration
<PageTitle>@Configuration.Owner | Home</PageTitle>

<article class="about  active" data-page="about">

    <header>
        <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
        @foreach (var item in Configuration.AboutMe)
        {
            <p>
                @item
            </p>
        }
    </section>


    <!--
      - service
    -->

    <section class="service">

        <h3 class="h3 service-title">What i'm doing</h3>

        <ul class="service-list">
            @foreach (var item in Configuration.Services)
            {
                <li class="service-item">

                    <div class="service-icon-box">
                        <img src="@item.Image" alt="@item.Title icon" width="40">
                    </div>

                    <div class="service-content-box">
                        <h4 class="h4 service-item-title">@item.Title</h4>

                        <p class="service-item-text">
                            @item.Description
                        </p>
                    </div>

                </li>
            }
        </ul>

    </section>


    <!--
      - testimonials
    -->

    <section class="testimonials">

        <h3 class="h3 testimonials-title">Testimonials</h3>

        <ul class="testimonials-list has-scrollbar">

            @foreach (var item in Configuration.Testimonials)
            {
                <li class="testimonials-item">
                    <div class="content-card" data-testimonials-item>

                        <figure class="testimonials-avatar-box">
                            <img src="@item.Image" alt="@item.Title" width="60" data-testimonials-avatar>
                        </figure>

                        <h4 class="h4 testimonials-item-title" data-testimonials-title>@item.Title</h4>

                        <div class="testimonials-text" data-testimonials-text>
                            <p>
                                @item.Description
                            </p>
                        </div>

                    </div>
                </li>
            }
        </ul>

    </section>



    <!--
      - clients
    -->

    <section class="clients">

        <h3 class="h3 clients-title">Clients</h3>

        <ul class="clients-list has-scrollbar">
            @foreach (var item in Configuration.Clients)
            {
                <li class="clients-item">
                    <a href="#">
                        <img src="@item" alt="client logo">
                    </a>
                </li>
            }
        </ul>

    </section>

</article>
