@page "/resume"
@inject AppConfiguration Configuration
<PageTitle>@Configuration.Owner | Resume</PageTitle>
<article class="resume active" data-page="resume">

    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">
            @foreach (var item in Configuration.Experiences)
            {
                <li class="timeline-item">

                    <h4 class="h4 timeline-item-title">@item.Title</h4>

                    <span>@item.Date</span>

                    <p class="timeline-text">
                        @item.Description
                    </p>

                </li>
            }

        </ol>

    </section>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">
            @foreach(var item in Configuration.Experiences)
            {
                <li class="timeline-item">

                    <h4 class="h4 timeline-item-title">@item.Title</h4>

                    <span>@item.Date</span>

                    <p class="timeline-text">
                        @item.Description
                    </p>

                </li>
            }
        </ol>

    </section>

    <section class="skill">

        <h3 class="h3 skills-title">My skills</h3>

        <ul class="skills-list content-card">
            @foreach (var item in Configuration.Skills)
            {
                <li class="skills-item">

                    <div class="title-wrapper">
                        <h5 class="h5">@item.Name</h5>
                        <data value="@item.Percentage">@item.Percentage%</data>
                    </div>

                    <div class="skill-progress-bg">
                        <div class="skill-progress-fill" style="width: @item.Percentage%;"></div>
                    </div>

                </li>
            }
        </ul>

    </section>

</article>